<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Registration Email </title>
    <meta name="description">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <a href="" title="logo" target="_blank">
                                <!-- <img width="160" width="100" src="{{asset('images/logo1.png')}}" title="logo" alt="logo"> -->
                                <img width="160" width="100"
                                    src="https://klimart.in/static/media/KlimArt%20Logo%20-%20Horizontal%20Lockup.39b38ce3294bed5cace5.png"
                                    title="logo" alt="logo">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <p
                                style="margin: 0; margin-top: 5px;  font-size: 13px; font-weight: 600;  color: #555;  font-family: sans-serif; ">
                                &#x2022; ARCHITECTURE &#x2022; URBANISM
                                &#x2022; INTERIORS </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <h1
                                            style="color:#1e1e2d; font-weight:500; margin:0;font-size:28px;font-family:'Rubik',sans-serif;">
                                            <%=obj.Heading%>
                                        </h1>
                                        <span
                                            style="display:inline-block; vertical-align:middle; margin:18px 0 12px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style="color:#455056; font-size:13px;line-height:24px; margin-bottom: 10px;">
                                            Details
                                            are as
                                            follows:
                                        </p>
                                        <table style=" border-collapse: collapse; width: 100%; margin-bottom: 10px;">
                                            <tr>
                                                <th
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                </th>
                                                <th
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    Details
                                                </th>
                                            </tr>


                                            <tr style="background-color: #dddddd;">
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    Name
                                                </td>
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    <%=obj.name%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    Email
                                                </td>
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    <%=obj.email%>
                                                </td>
                                            </tr>
                                            <tr style="background-color: #dddddd;">
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    Contact
                                                    Number
                                                </td>
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    <%=obj.contact%>
                                                </td>
                                            </tr>
                                            <% if (obj.city) { %>
                                                <tr>
                                                    <td
                                                        style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                        City
                                                    </td>
                                                    <td
                                                        style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                        <%=obj.city%>
                                                    </td>
                                                </tr>
                                                <%} else { %>
                                                    <tr>
                                                        <td
                                                            style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                            Area
                                                        </td>
                                                        <td
                                                            style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                            <%=obj.area%>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% if (obj.experience) { %>
                                                            <tr style="background-color: #dddddd;">
                                                                <td
                                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                    Experience
                                                                </td>
                                                                <td
                                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                    <%=obj.experience%>
                                                                </td>
                                                            </tr>
                                                            <%} else { %>
                                                                <tr style="background-color: #dddddd;">
                                                                    <td
                                                                        style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                        BHK
                                                                    </td>
                                                                    <td
                                                                        style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                        <%=obj.bhk%>
                                                                    </td>
                                                                </tr>
                                                                <% } %>





                                                                    <% if (obj.education) { %>
                                                                        <tr>
                                                                            <td
                                                                                style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                                Education
                                                                            </td>
                                                                            <td
                                                                                style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                                <%=obj.education%>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <%} else { %>
                                                                        <tr>
                                                                            <td
                                                                                style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                                Budget
                                                                            </td>
                                                                            <td
                                                                                style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                                <%=obj.budget%>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>

                                                                            <% if (obj.cv) { %>

                                                                                <td
                                                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                                    Resume
                                                                                </td>
                                                                                <td
                                                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                                                    <%=obj.cv%>
                                                                                </td>
                                </tr>
                                <%} else { %>
                                    <tr style="background-color: #dddddd;">
                                        <td
                                            style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                            Location
                                        </td>
                                        <td
                                            style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                            <%=obj.location%>
                                        </td>
                                    </tr>
                                    <% } %>

                                        <% if (obj.category) { %>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    Education
                                                </td>
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    <%=obj.category%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <%} %>
                                                    <% if (obj.subCategory) { %>
                                            <tr style="background-color: #dddddd;">
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    Sub Category
                                                </td>
                                                <td
                                                    style="border: 1px solid #dddddd;  text-align: left; padding: 8px; font-size: 11px;">
                                                    <%=obj.subCategory%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <%} %>

                            </table>
                            <!-- <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">Thank you for Sending Your Startup Story to us!</p> -->
                            <!-- <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">Regards,</p> -->
                            <!-- <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            Team: <b style="font-weight: 700; font-size: 19px; color: #f44526;">AISEA
                                                World</b>
                                        </p> -->
                            <!-- <div style="width: 100%;">
                                            <img src="./email_images/registration.jpg" alt=""
                                                style="width: 75%; margin: 0 auto; margin-bottom: 15px;">
                                        </div>
                                        <a href="javascript:void(0);"
                                            style="background:#f44526;text-decoration:none !important; font-weight:500; margin-top:0px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px; font-weight: 600;">Visit
                                            Your
                                            Profile
                                        </a> -->
                            <!-- <a href="javascript:void(0);"
                                            style="background:#f44526;text-decoration:none !important; font-weight:500; margin-top:0px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px; font-weight: 600;">Visit Our Website
                                        </a> -->
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!-- <div>
                                            <h6 style="margin:0; margin-top: 13px;">
                                                Contact
                                                :
                                                <b><a href="tel:+9173105 51101">+91
                                                        73105
                                                        51101</a></b>
                                            </h6>
                                        </div> -->
                        </td>
                    </tr>
                    <!-- <tr> -->
                    <!-- <td>
                                        <div>
                                            <h6 style="margin:0; margin-top: 13px;">
                                                Email
                                                :
                                                <b><a href="mailto:info@aiseaworld.org">info@aiseaworld.org</a></b>
                                            </h6>
                                        </div>
                                    </td> -->
                    <!-- </tr> -->
                    <tr>
                        <td style="height:10px;"></td>
                    </tr>
                    <!-- <tr>
                                    <td>
                                        <!-- <a href="" style=" font-size: 13px; color: #455056;">Dont Want to Recice these Email ? Click here to Unsubscribe</a> -->
                    <!-- <div>
                                    <a href="javascript:void(0);"
                                        style="color: #f44526; font-weight:500; margin-top:5px; text-transform:uppercase; font-size:10px;padding:10px ;display:inline-block;border-radius:50px; font-weight: 600;">About
                                        Us</a>
                                    <a href="javascript:void(0);"
                                        style="color: #f44526; font-weight:500; margin-top:5px; text-transform:uppercase; font-size:10px;padding:10px ;display:inline-block;border-radius:50px; font-weight: 600;">Events
                                    </a>
                                    <a href="javascript:void(0);"
                                        style="color: #f44526; font-weight:500; margin-top:5px; text-transform:uppercase; font-size:10px;padding:10px ;display:inline-block;border-radius:50px; font-weight: 600;">Find
                                        Mentor
                                    </a>
                                    <a href="javascript:void(0);"
                                        style="color: #f44526; font-weight:500; margin-top:5px; text-transform:uppercase; font-size:10px;padding:10px ;display:inline-block;border-radius:50px; font-weight: 600;">Startup
                                        Stories
                                    </a>
                                    <a href="javascript:void(0);"
                                        style="color: #f44526; font-weight:500; margin-top:5px; text-transform:uppercase; font-size:10px;padding:10px ;display:inline-block;border-radius:50px; font-weight: 600;">Membership
                                    </a>
                                    <a href="javascript:void(0);"
                                        style="color: #f44526; font-weight:500; margin-top:5px; text-transform:uppercase; font-size:10px;padding:10px ;display:inline-block;border-radius:50px; font-weight: 600;">My
                                        Group
                                    </a>
                                </div> -->
                    <!-- </td> -->
                    <!-- </tr> -->


                    <tr>
                        <td style="height:40px;">
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <!-- <tr>
                        <td style="text-align:center;">
                            <footer style="font-size: 12px; color: #999;  ">

                                <div
                                    style="display: inline-flex;justify-content:center;align-items: center;text-align:center;margin-top: 10px;">

                                    <a href="#" style="text-decoration: none; color: #999;  margin: 0 7px; ">
                                        <img src="https://ci3.googleusercontent.com/proxy/-LpS2GRdEOrD3hbLx1TPU98xSYdRMQ1aJqUnp444jR0_8eS7zy7C3Hrix_kpO-ywr6Q4DZEVjVkBphT39oA-qg=s0-d-e1-ft#http://ijobshunts.com/public/images/insta.png"
                                            alt="Instagram icon" style="width: 20px;height: 20px;">
                                    </a>
                                    <a href="#" style="text-decoration: none; color: #999;  margin: 0 7px;">
                                        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-facebook-social-media-icon-png-image_6315968.png"
                                            alt="fb icon" style="width: 18px;height: 18px;transform: scale(1.4);">
                                    </a>
                                    <a href="#" style="text-decoration: none; color: #999;  margin: 0 7px;">
                                        <img src="https://ci5.googleusercontent.com/proxy/dWZLEmdESRmu134bmInCIETMt3S2R9QBLqJ6nJGyr8uf8IGTpgMdleBCcgRv66KE4pDdRroniZFrVcu0phufQVP9kQ=s0-d-e1-ft#http://ijobshunts.com/public/images/linkedin.png"
                                            alt="linkedin icon" style="width: 20px;height: 20px;">
                                    </a>
                                    <a href="#" style="text-decoration: none; color: #999;  margin: 0 7px;">
                                        <img src="https://www.wellybox.com/wp-content/uploads/2023/02/pngkey.com-twitter-logo-png-transparent-27646.png"
                                            alt="twitter icon" style="width: 16px;height: 16px;transform: scale(1.6);">
                                    </a>
                                </div>

                            </footer>

                        </td>
                    </tr> -->
        <tr>
            <td style="height:40px;">&nbsp;</td>
        </tr>
    </table>
    </td>
    </tr>
    </table>
    </script>
    <!--/100% body table-->
</body>

</html>